<html>
<h1> ~ Results ~ </h1>
<h2>You got: <strong>Dimitri!</strong></h2>
<div class="tenor-gif-embed" data-postid="15030525" data-share-method="host" data-width="50%" data-aspect-ratio="1.3871866295264623"><a href="https://tenor.com/view/fire-emblem-dimitri-fire-emblem-dimitri-fire-emblem-three-houses-blue-lions-gif-15030525">Fire Emblem Dimitri GIF</a> from <a href="https://tenor.com/search/fireemblem-gifs">Fireemblem GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<p>You have a strong sense of justice, and believe that the strong should not trample the weak.</p>
<p>You believe all life is precious, and refuse to forget the faces of those you love who have</p>
<p>passed. You have difficulties interacting with others because you fear you will one day lose</p>
<p>lose them as well. Tear down those walls, and don't be afraid to lean on your friends!</p>
</html>
