<html>
<h1> ~ Results ~ </h1>
<h2>You got: <strong>Grøh!</strong></h2>
<image src="http://image.jeuxvideo.com/images/videos/gaming_live_images/s/o/soulcalibur-vi-776365-1536940988-high.jpg" alt= "Groh">
<p>Dedicated, responsible, yet cold and tacturn. It is difficult for you befriend those around you.</p>
<p>You are a lone wolf, yet you work to create great strides for everyone, including those you love.</p>
<p>You tend to feel like you must shoulder great burdens on your own, but just remember, you have</p>
<p>people out there who care for you.</p>
</html>
